

<form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
        <label class="sr-only" for="qupte">Enter your quote</label>
        <textarea placeholder="What inspires you today?" class="form-control" name="quote" id="quote" rows="4" name="quote" [(ngModel)]="newQuote.quote" >
            
        </textarea>
    </div>
    <div class="form-row">

        <div class="col-auto">

            <label class="sr-only" for="inlineFormInputGroup">Username</label>

            <div class="input-group mb-2">

                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>

                <input type="text" class="form-control" id="inlineFormInputGroup" 
                id="username" placeholder="Username" name="user" [(ngModel)]='newQuote.user' 
                #username='ngModel' 
                required>

                
            </div>
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger" >
                <p style="margin: 0;">Username required</p>
            </div>

        </div>

        <div class="col-auto">

            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" 
            placeholder="Author of the quote" 
            name="author" [(ngModel)]="newQuote.author" #author='ngModel'
            required>
       
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger" >
                <p style="margin: 0;">Author's name required</p>
            </div>

            
        </div>
        
        <div class="col-auto">

            <p style="margin:0;">Today's date</p>
            <input type="date" class="form-control mb-2" name="date" id="date">
          
        </div>
</div>
<button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
  </form>