


<div class="title">
    <h1>Quotes</h1>
    <img src="../../../assets/quote-right-solid.svg" alt="quote">
</div>

<div class="container">

    <div class="row">
        
        <div class="col-md-6">
            <div>
                <p>This weeks quotes</p>
            </div>
            <div *ngFor="let quote of quotes; let i = index" class="card">

                <div>
                    <app-quote [quote]='quote'></app-quote>
                </div>
                
                <hr>
                
                <div class="card-body description">

                    <button (click)="toggleDetails(i)" class="btn btn-outline-primary btn-sm " style="margin-bottom: 20px;" >Description</button>

                    <app-quote-description *ngIf="quote.showDescription" [quote]='quote'></app-quote-description>


                </div>
                
            </div>
        </div>

        <div class="col-md-6">
            <app-quote-form></app-quote-form>

              <div class="quote-eg">
                  <p class="eg-text">“I don’t believe in astrology; I’m a Sagittarius and we’re skeptical.”</p>
                  <p class="author-title">~ Arthur C. Clarke</p>
              </div>

        </div>

    </div>

</div>






