.title{
    background-color: #FCA311;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-bottom: 30px;
}
.title img{
    height: 35px;
    padding: 2px;
}

.card{
    margin-bottom: 20px;
}
hr{
    margin: 0;
}

.card{
    margin-top: 40px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.158);
}

.eg-text{
    font-size: 30px;
}
.eg-text, .title, .author-title{
    font-family: 'Abril Fatface', cursive;
}
.title, .eg-text{
    color: #14213D;
}
.eg-text{
    color: #FCA311 ;
}