


<div class="title">
    <h1>Quotes</h1>
    <img src="../../../assets/quote-right-solid.svg" alt="quote">
</div>

<div class="container">

    <div class="row">
        
        <div class="col-md-6">
            <div>
                <p>This weeks quotes</p>
            </div>
            <div class="card">

                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <p class="card-text">User</p>
                        </div>
                        <div class="col-4">
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <p class="card-text">Quote goes here</p>
                  <button class="btn btn-sm btn-outline-primary">Description</button>
                </div>

                <hr>
                <div class="card-body description">
                    <div class="row">
                        <div class="up-vote col-2">
                            <p>0</p>
                            <img src="../../../assets/upVote.svg" alt="upvote">
                        </div>
                        <div class="down-vote col-2">
                            <p>0</p>
                            <img src="../../../assets/downVote.svg" alt="upvote">
                        </div>
                        <div class="author col-8">
                            <p>Aurthor's name</p>
                        </div>
                    </div>
                </div>

              </div>
        </div>

        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="qupte">Enter your quote</label>
                    <textarea class="form-control" name="quote" id="quote" rows="4"></textarea>
                </div>
                <div class="form-row">

                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                        </div>
                    </div>

                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInput">Name</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Author of the quote">
                    </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary mb-2">Submit</button>
                  </div>
                </div>
              </form>

              <div class="quote-eg">
                  <p class="eg-text">“I don’t believe in astrology; I’m a Sagittarius and we’re skeptical.”</p>
                  <p class="author-title">~ Arthur C. Clarke</p>
              </div>

        </div>

    </div>

</div>






