


<div class="title">
    
    <h1>Quotes</h1>

    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" class="svg-inline--fa fa-quote-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"></path></svg>

</div>

<div class="motivate">
    <p>Motivate others with what motivates you!</p>
</div>


<div class="container">
    
    <div class="row">
        
        <div class="col-md-6">
            
            <div *ngFor="let quote of quotes; let i = index" class="card quote-box">
            
                <div>
                    <app-quote [quote]='quote'></app-quote>
                </div>
                
                <hr>
                
                <div class="card-body description">
                    
                    <div class="btn-group" role="group">
                        
                        <button type="button" (click)="toggleDetails(i)" class="btn btn-outline-primary btn-sm " style="margin-bottom: 20px;" >Description</button>
                        <button type="button" (click)="deleteGoal(i)" class="btn btn-outline-danger btn-sm " style="margin-bottom: 20px;" >Delete</button>
                        
                    </div>
                    
                    
                    <app-quote-description *ngIf="quote.showDescription" [quote]='quote'></app-quote-description>
                    
                    
                </div>
                
            </div>
        </div>
        
        <div class="col-md-6">

            <app-quote-form (addQuote)="addNewQuote($event)" ></app-quote-form>

            
            <div class="card quote-eg">
                <div class="card-body">

                    <p class="card-text eg-text">“In order to understand recursion, one must first understand recursion.”</p>
                    <p class="author-title">~ Anonymous</p>
            
                </div>
                
            </div>

               

            
        </div>
        
    </div>

</div>






